@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600&display=swap");

.cart-overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1200;
}

.cart-empty{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
    height: 100%;
}

.cart-overlay.open {
  pointer-events: auto;
}

.cart-panel {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 600px;
  max-width: 100%;
  background: #fff;
  box-shadow: -12px 0 30px rgba(0,0,0,0.2);
  transform: translateX(110%);
  transition: transform 300ms ease;
  display: flex;
  flex-direction: column;
}

.cart-overlay.open .cart-panel {
  transform: translateX(0);
}

.cart-header {
  font-family: "Clash Display", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eee;
  height: min-content;
}

.cart-header h3{
    font-size: 30px;
    font-weight: 600;
    color: #5D5151;
    margin: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.cart-clear{
    background: #fff;
    border-radius: 999px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #AF0303;
}

.cart-body {
  font-family: "Clash Display", sans-serif;
  padding: 16px;
  overflow-y: auto;
  flex: 1;
}

.cart-body p{
    font-size: 28px;
    font-weight: 600;
    color: #5D5151;
    max-width: 400px;
    margin: 0;
    margin-top: 20px;
}

.cart-close{
    background: #fff;
    color: #5D5151;
}

.cart-body small{
    font-weight: 400;
    font-size: 22px;
    color: #8C8A97;
}

.cart-item {
  font-family: "Clash Display", sans-serif;
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 18px;
}

.cart-item img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  background: #f3f3f3;
}

.cart-item-info { 
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.cart-item-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.muted{
    color: #8C8A97;
    font-weight: 400;
}

.cart-item-actions {
  display:flex;
  align-items:center;
  gap:8px;
  margin-top:8px;
}

.cart-item-actions input{
    max-width: 26px;
}

.cart-item-actions input[type="number"]{
  width:56px;
  padding:6px 8px;
}

.cart-footer {
  background-color: #EEF1FC;
  padding: 16px;
  border-top: 1px solid #eee;
}

.cart-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-total span{
    font-family: "Clash Display", sans-serif;
    color: #8C8A97;

}

.cart-total strong{
    font-family: "Clash Display", sans-serif;
    color: #1E1E1E;
}

.span-preco{
    background: #DBD0CA;
    padding: 4px 10px;
    cursor: pointer;
    transition: background 0.2s;
    color: #393939;
    border: none;
    max-width: 60px;
    font-weight: 500;
}

.cart-cta {
  font-family: "Clash Display", sans-serif;
   background: #ACA0A0;
  border: none;
  color: #393939;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.25s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-weight: 500;
}

.cart-cta:hover{
    color: rgb(84, 82, 82);
}
.remove-btn{
    background: #fff;
    color: #AF0303;
}
