@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,600&display=swap");

.hero {
  width: 100%;
  max-width: 100%; 
  overflow-x: hidden; 
  background-color: #fef5f1;
  padding: 48px 48px;
  display: flex;
  justify-content: center;
  box-sizing: border-box; 
}

.hero-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-title {
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 100px;
  line-height: 90%;
  color: #3a2f2a;
  margin: 0;
}

.hero-subtitle {
  font-family: "Clash Display", sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 100%;
  color: #6a5a53;
  margin-top: 16px;
  margin: 0;
}

@media (max-width: 432px) {

  .hero {
    width: 100%;
    max-width: 100%; 
    overflow-x: hidden; 
    background-color: #fef5f1;
    padding: 28px 18px;
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
  }

  .hero-title {
    font-size: 50px;
    line-height: 120%;
    font-weight: 600;
    color: #3a2f2a;
  }

  .hero-subtitle {
    font-size: 32px;
    line-height: 120%;
    font-weight: 500;
    color: #6a5a53;
    margin-top: 16px;
    margin: 0;
  }
}