@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap");

.video-section {
  width: 100%;
  background-color: #fef5f1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  height: 98vh; 
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.sound-button {
  position: absolute;
  top: 20px;
  right: 20px;

  background: #FEFFFE;
  color: #339900;
  border: 1px solid #D4DBF7;
  border-radius: 6px;
  padding: 10px 16px;

  font-size: 14px;
  cursor: pointer;
  backdrop-filter: blur(4px);

  transition: 0.3s;
}

.sound-button:hover {
  background: #f1f1f1;
}


.highlight-bar {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  
  background: #EEF1FC;
  padding: 1rem 2rem;
  border-radius: 16px;
  border: 1px solid #D4DBF7;
  
  font-weight: 600;
  font-size: 1.1rem;
  color: #3a3a3a;
  text-align: center;
  max-width: 90%;
}

.highlight-container {
  display: flex;
  align-items: center;
  width: 70vw;
}

.highlight-icon {
  margin-right: 8px;
}

.highlight-container-text{
  text-align: left;
  padding: 0;
}

.highlight-p{
  font-family: "Clash Display", sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #7B7E7B;
}

.highlight-h2{
  font-family: "Clash Display", sans-serif;
  margin: 0;
  font-size: 32px;
  font-weight: 500;
  color: #339900
}

@media(max-width: 1120px) {
  .play-button {
    display: none;
  }
}

@media(max-width: 963px) {

  .highlight-h2{
    font-size: 28px;
  }

  .highlight-p{
    font-size: 18px;
    font-weight: 500;
  }

  .highlight-bar{
    bottom: -45px;
  }
}

@media(max-width: 858px) {

  .highlight-bar{
    bottom: -85px;
  }
}

@media(max-width: 719px) {

  .highlight-bar{
    bottom: -125px;
  }

  .video-container{
    height: 75vh;
  }
}

@media(max-width: 579px) {

  .highlight-bar{
    bottom: -145px;
  }

  .video-container{
    height: 75vh;
  }
}

@media(max-width: 545px) {

  .highlight-bar{
    bottom: -175px;
  }
}

@media (max-width: 402px) {
  .play-button {
    display: none;
  }
  
  .highlight-container{
    flex-direction: column;
    align-items: flex-start;
    width: 75vw;
  }

  .highlight-bar{
    bottom: -180px;
  }

  .highlight-h2{
    font-size: 20px;
  }

  .highlight-p{
    font-size: 16px;
    font-weight: 500;
  }

  .video-container{
    height: 60vh;
  }
}