@import url("https://api.fontshare.com/v2/css?f[]=clash-display@400,600&display=swap");

.section-mad-modulos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 7rem;
  background-color: #fef5f1;
  font-family: "Clash Display", sans-serif;
  max-width: 100%;
  overflow: hidden;
  background-image: url('/src/assets/background-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.mad-modulos-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}

.mad-title-container{
    display: flex;
    flex-direction: column;
}

/* LADO ESQUERDO - GALERIA DE IMAGENS */
.gallery {
  width: 100%;
}

/* LADO DIREITO - TEXTO E CARDS */
.mad-modulos-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.mad-modulos-text h2 {
  font-family: "Clash Display", sans-serif;
  font-size: 2.5rem;
  color: #4a3b35;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 600;
}

.mad-modulos-text h2 span {
  font-weight: 700;
}

.mad-modulos-features {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.feature-card {
  background: rgb(226, 234, 255);
  border-radius: 12px;
  padding: 1.5rem;
  border: 2px solid #D4DBF7;
}

.feature-card-content {
  display: flex;
  gap: 12px;
  align-items: center;

}

.feature-icon {
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}

.feature-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.feature-card h3 {
  font-family: "Clash Display", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #17181C;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.feature-card p {
  font-size: 18px;
  color: #8C8A97;
  line-height: 120%;
  margin: 0;
  font-weight: 400;
}

/* BOTÃO WHATSAPP */
.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #077D26;
  color: #EEF1FC;
  padding: 0.9rem 1.6rem;
  border-radius: 16px;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 1rem;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  line-height: 100%;
  border: none;
  cursor: pointer;
  max-width: 100%;
}

.whatsapp-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(55, 156, 35, 0.35);
  color: #EEF1FC;
}

.whatsapp-btn img {
  width: 20px;
  height: 20px;
}

.subtitle {
    font-size: 64px;
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    color: #5D5151;
    margin: 0;
  }

.title {
    font-size: 64px;
    font-family: "Clash Display", sans-serif;
    font-weight: 700;
    color: #5D5151;
    margin: 0;
    margin-bottom: 20px;
  }

  .mad-title-text{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

@media(max-width: 1295px) {
  .whatsapp-btn {
    padding: 0.9rem 1.0rem;
  }
}

@media (max-width: 1230px) {
  .section-mad-modulos {
    padding: 6rem 2rem;
  }
  
  .mad-modulos-content {
    gap: 2rem;
  }
  
  .gallery {
    order: 2;
  }
  
  .mad-modulos-text {
    order: 1;
  }
}

@media (max-width: 1145px) {
  .section-mad-modulos {
    padding: 6rem 2rem;
    padding-top: 0;
  }
  
  .mad-modulos-content {
    gap: 2rem;
  }
  
  .gallery {
    order: 2;
  }
  
  .mad-modulos-text {
    order: 1;
  }
  
  .mad-modulos-text h2 {
    font-size: 2rem;
    text-align: center;
  }

  .feature-card p{
    font-size: 16px;
  }
}

@media (max-width: 790px) {

  .mad-modulos-content {
    flex-direction: column;
    align-items: center;
  }

  .feature-card-content {
    flex-direction: column;
    gap: 8px;
  }
  
  .feature-icon {
    align-self: center;
  }
}

@media (max-width: 402px) {
  .section-mad-modulos {
    padding: 6rem 1rem;
  }

  .subtitle {
    font-size: 30px;
  }

.title {
    font-size: 30px;
  }

  .section-mad-modulos{
    padding-top: 20px;
  }

  .feature-card p{
    font-size: 16px;
  }

  .whatsapp-btn{
    padding: 0.9rem 0.8rem;
    font-size: 14px;
    margin: 0;
  }
  
}